[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[requires]
python_version = "3.8"

[packages]
alembic = "*"
psycopg2-binary = "*"
sqlmodel = "*"
sqlalchemy = "==1.4.35"
fastapi-mail = "*"
boto3 = "*"
setuptools = "*"
fastapi = {extras = [ "all",]}
passlib = {extras = [ "bcrypt",]}
python-jose = {extras = [ "cryptography",]}
